@keyframes heartbeat {
  0% {
    transform: rotate(45deg) scale(1);
  }
  14% {
    transform: rotate(45deg) scale(1.3);
  }
  28% {
    transform: rotate(45deg) scale(1);
  }
  42% {
    transform: rotate(45deg) scale(1.3);
  }
  70% {
    transform: rotate(45deg) scale(1);
  }
}

.heartbeat {
  margin-left: 10px;
  margin-right: 10px;
  font-family: sans-serif;
  font-weight: 100;
}

.heartbeat:not(:required) {
  position: relative;

  display: inline-block;
  width: 16px;
  height: 16px;
  overflow: hidden;

  text-indent: -9999px;

  animation: heartbeat 1300ms ease 0s infinite normal;
  transform: rotate(45deg) scale(1);
  transform-origin: 50% 50%;
}

.heartbeat:not(:required):after,
.heartbeat:not(:required):before {
content: "";
  position: absolute;
  background: #ff5757;
}

.heartbeat:not(:required):before {
  top: 5px;
  left: 0;

  width: 16px;
  height: 10px;

  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.heartbeat:not(:required):after {
  top: 0;
  left: 5px;

  width: 10px;
  height: 5px;

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
